<div class="generalDiv">
  <div class="pdfDiv">
    <input type="file" (change)="loadPdf($event)" accept="application/pdf" />
  </div>

  <!-- File Name Form-->
  <div class="footerDiv">
    <form
      autocomplete="autocomplete_off"
      [formGroup]="onLoginForm"
      class="list-form formDiv"
    >
      <div color="light" class="fieldDiv ion-margin">
        <ion-input
          formControlName="formPrefix"
          label="Prefixo (Opcional)"
          labelPlacement="floating"
          fill="outline"
          type="text"
          placeholder="NFSe"
          id=""
        ></ion-input>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <ion-input
          formControlName="formNumber"
          label="Número Inicial"
          labelPlacement="floating"
          fill="outline"
          type="number"
          placeholder="80501"
          (keydown.enter)="splitPdf()"
        ></ion-input>
      </div>
    </form>

    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <ion-button
          expand="block"
          color="primary"
          (click)="splitPdf()"
          [disabled]="!onLoginForm.valid"
          tappable
        >
          Download</ion-button
        >
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </div>
</div>
