.generalDiv {
  // height: 100%;
  // background-color: yellow;
  // display: flex;
  // flex-flow: column;
  // justify-content: center;
  // align-items: center;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  flex-direction: column;
}
.pdfDiv {
  // margin: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.footerDiv {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 70%;
  margin-bottom: 50px;
}

.formDiv {
  width: 100%;
  display: flex;
  align-items: center;
}

.fieldDiv {
  display: flex;
  width: 100%;
}
