<ion-content>
  <div class="generalDiv">
    <h1 class="pageText">Merge PDF</h1>
    <ion-buttons slot="start" class="butMenu">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="pdfDiv">
      <app-custom-multiple-files-input
        (filesSelected)="loadPdf($event)"
        (enableButton)="enableButton($event)"
        [externalEmitter] = "internalEmitter"
      ></app-custom-multiple-files-input>
    </div>

    <!-- File Name Form-->
    <div class="footerDiv">
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-button
            class="ion-padding-vertical"
            expand="block"
            color="primary"
            (click)="mergePdf()"
            [disabled] = "disableButton"
          >
            Merge</ion-button
          >
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
